.sapUiSizeCompact .sapMPageHeader .sapMIBar, .sapUiSizeCompact .sapMPageFooter .sapMIBar, .sapUiSizeCompact .sapMPageFooter .sapMIBar, .sapUiSizeCompact .sapMPageHeader .sapMIBar .sapMBarPH, .sapUiSizeCompact .sapMPageFooter .sapMIBar .sapMBarPH {
    height: 3rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: transparent linear-gradient(90deg, #5F1EBE 0%, #2874F0 67%, #0F5FDC 100%) 0% 0% no-repeat;
    
}

.sapMBtnInner .sapMBtnIcon.sapMImg {
    max-width: 100px;
    background-size: contain;
}
.sapMBar .sapMText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    font-size: 25px;
    color: #fff;
    padding: 3px 16px 4px;
    text-decoration: none;
    border-left: 0.5px solid rgba(255, 255, 255, 0.6);
}

.centerContent {
    display: flex;
    align-items: center;
    height: -19%;
    width: 115%;
    flex-direction: column-reverse;
    margin-top: 39px;
    margin-left: 408px;
    flex-wrap: wrap;
}
.sapUiSizeCompact .sapMBtnInner.sapMBtnText {
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    margin-top: -234px;
}
.btn{
    background-color: rgb(211, 242, 253);
    color: black;
}

.CustomIcon{
    background-color: #fff;
    
    
}
.CustomIcon .sapUiIcon{
    color: rgb(189, 159, 159);
    font-size: 1.3rem;
}

.sapMText {
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
    font-size: 0.875rem;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    line-height: normal;
    color: #fff;
}
.text1{
        color: black;
        font-size: large;
}
.text2{
    color: black;
    font-size: 12px;
}
.sapUiSizeCompact .sapMBtnInner .sapMBtnIcon.sapMImg {
    max-height: 1.8rem;
}

.classPanel {
        /* width: 23%; */
        /* height: 121px; */
        margin-top: 18px;
        border: 1px solid #e4e2e2;
        background: #ecebeb;
        border-radius: 19px;
        padding: 2px -1px 32px 41px;
        box-sizing: border-box;
        overflow: hidden !important;
}
.panelVbox1 {
   margin-right: 10px;
   background-color:white;
   margin-right: 25px;
   height: 66px;
   width: 94px;
}
.sapMFlexBoxWrapNoWrap {
    display: flex;
    align-items: center;
}
 
.sapMPanelBGTranslucent {
    background-color: #dee2e5;
}
 
.sapMFlexBoxJustifyStart {
    justify-content: space-evenly;
    height: 64px;
    margin-left: 10px;
}
 
.sapMPanel .sapMPanelHeadingDiv>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb {
   
    background:#dee2e5;
}
 
.classPage {
    display: flex;
    flex-direction: column;
}
 
.classGrdVbox2{
    margin-right: 5%;
}
.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    margin-top: -36.25rem;
    padding-bottom: 1.75rem;
}

.sapMImg {
    float: left;
    width: 99%;
    height: 75px;
    font-size: 3.5rem;
    text-align: center;
    padding: 21px 0;
}

.sapMPage>section {
    position: absolute;
    overflow-y: hidden;
    top: 0;
    left: -552px;
    right: -23px;
    bottom: 0;
}
.sapMPanelContent {
    padding: 0.625rem 1rem 1.375rem 1rem;
    box-sizing: border-box;
    /* overflow: auto; */
    white-space: normal;
}